<div class="login-container" *ngIf="!submitEnabled">
    <h2>Login</h2>
    
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form" >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          [(ngModel)]="username"
          required
          #usernameInput="ngModel"
          [class.invalid]="usernameInput.invalid && usernameInput.touched"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error">
          Username is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          required
          #passwordInput="ngModel"
          [class.invalid]="passwordInput.invalid && passwordInput.touched"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          Password is required
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">
        Login
      </button>
    </form>
  
    <!-- <a *ngIf="showProductLink" routerLink="/product" (click)="hideLink()">Product List</a> -->
  </div>
  
  <router-outlet></router-outlet>
  